@import "../../funcs";
@import "../../vars";

.Panel {
    width: 100%;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1 / 2;
}

.Row1 { grid-row: 1 / 2; }
.Row2 { grid-row: 2 / 3; }
.Row3 { grid-row: 3 / 4; }
.Row4 { grid-row: 4 / 5; }

.Orange {
    color: $white;
    background-color: $orange;
}

.Purple {
    color: $white;
    background-color: $purple;
}

.Pink {
    color: $purple;
    background-color: $pink;
}
