@import "reset";
@import "fonts";
@import "funcs";
@import "vars";
@import "animations";

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Atlas Grotesk Web';
    font-size: 16px;
}

#parallel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    overflow: hidden;
}

.panel {
    width: 100%;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1 / 2 !important;
    transform: translateY(120%);

    h1 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: to-rem(104);
    }

    &.orange {
        color: $white;
        background-color: $orange;
    }

    &.purple {
        color: $white;
        background-color: $purple;
    }

    &.pink {
        color: $purple;
        background-color: $pink;
    }

    &.active {
        transform: translateY(0);
    }

    &.ani-up-out {
        animation: panelOutUp 250ms ease-in 50ms both;
    }

    &.ani-up-in {
        animation: panelInUp 300ms ease-in both;
        z-index: 100;
    }

    &.ani-dn-out {
        animation: panelOutDown 250ms ease-in 50ms both;
    }

    &.ani-dn-in {
        animation: panelInDown 300ms ease-in both;
        z-index: 100;
    }
}
