@import "reset";
@import "fonts";
@import "funcs";
@import "vars";
@import "animations";

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Atlas Grotesk Web';
    font-size: to-vw(16);
}

#parallel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    overflow: hidden;

    &[data-active-panel="0"] {
        #top-nav ul li a { color: $orange; }
        #hamburger-nav button .lines { background-color: $orange; }
        #side-nav {
            opacity: 0;
            pointer-events: none;
        }
    }

    &[data-active-panel="1"] {
        #top-nav ul li a { color: $pink; }
        #hamburger-nav button .lines { background-color: $pink; }
        #side-nav {
            opacity: 1;
            pointer-events: auto;

            &:before { background-color: $pink; }
            .wordmark { opacity: .3; };

            ul {
                li {
                    border-color: $pink;

                    &:nth-child(2) { background-color: $pink; }
                    &:hover { background-color: $pink; }
                }
            }
        }
    }

    &[data-active-panel="2"] {
        #top-nav ul li a { color: $purple; }
        #hamburger-nav button .lines { background-color: $purple; }
        #side-nav {
            opacity: 1;
            pointer-events: auto;

            &:before { background-color: $purple; }
            .wordmark { opacity: .5; };

            ul {
                li {
                    border-color: $purple;

                    &:nth-child(3) { background-color: $purple; }
                    &:hover { background-color: $purple; }
                }
            }
        }
    }

    &[data-active-panel="3"] {
        #top-nav ul li a { color: $orange; }
        #hamburger-nav button .lines { background-color: $orange; }
        #side-nav {
            opacity: 1;
            pointer-events: auto;

            &:before { background-color: $orange; }
            .wordmark { opacity: .3; };

            ul {
                li {
                    border-color: $orange;

                    &:nth-child(4) { background-color: $orange; }
                    &:hover { background-color: $orange; }
                }
            }
        }
    }
}

.panel {
    width: 100%;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1 / 2 !important;
    transform: translateY(120%);
    padding-left: to-rem(175);
    display: grid;
    z-index: 100;

    .content {
        display: inline;
    }

    .title {
        font-weight: 900;
        text-transform: uppercase;
        font-size: to-rem(104);
        line-height: 1;
        margin: 0;
    }

    .body {
        width: to-rem(860);

        p {
            font-size: min(#{to-rem(19)}, 19px);
            line-height: 1.68;
            margin: to-rem(30) 0 0;
        }

        h3 {
            font-size: to-rem(22);
            font-weight: 900;
            line-height: .86;
            letter-spacing: to-rem(1);
            margin: 0 0 to-rem(9) 0;
            text-transform: uppercase;
        }

        ol {
            list-style: none;
            counter-reset: nums;
            padding-left: to-rem(100);

            li {
                margin-bottom: to-rem(35);
                font-size: to-rem(15);
                line-height: 1.6;
                counter-increment: nums;
                position: relative;

                &:before {
                    content: "0" counter(nums);
                    position: absolute;
                    top: to-rem(-25);
                    left: to-rem(-100);
                    font-size: to-rem(58);
                    font-weight: 900;
                    opacity: .45;
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: to-rem(15);
            }
        }

        a {
            color: $white;
        }
    }

    &.orange {
        color: $white;
        background-color: $orange;
    }

    &.purple {
        color: $white;
        background-color: $purple;
    }

    &.pink {
        color: $purple;
        background-color: $pink;
    }

    &.active {
        transform: translateY(0);
    }

    &.ani-up-out {
        animation: panelOutUp 450ms ease-in 50ms both;
        z-index: 90;
    }

    &.ani-up-in {
        animation: panelInUp 450ms ease-in-out both;
        z-index: 100;

        .title, .wordmark { animation: slideUp 450ms ease-out both; }
        .body { animation: slideUp 400ms ease-out 50ms both; }
    }

    &.ani-dn-out {
        animation: panelOutDown 450ms ease-in 50ms both;
        z-index: 90;
    }

    &.ani-dn-in {
        animation: panelInDown 450ms ease-in-out both;
        z-index: 100;

        .title, .wordmark { animation: slideDown 450ms ease-out both; }
        .body { animation: slideUp 400ms ease-out 50ms both; }
    }
}

#loading {
    background-color: $purple;
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;

    .wordmark {
        width: to-rem(200);
        animation: pulse 500ms ease-in-out both alternate infinite;
    }

    &.exit {
        animation: fadeOut 200ms ease-out 1000ms forwards;
    }
}

#hamburger-nav { display: none; }

#top-nav {
    position: absolute;
    top: to-rem(40);
    right: to-rem(50);
    z-index: 110;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: to-rem(20);

            a {
                text-transform: uppercase;
                font-weight: 500;
                text-decoration: none;
                font-size: to-rem(10);
                letter-spacing: (to-rem(.59));
                transition: 200ms color ease-out 100ms;
            }

            &:hover {
                a { color: $white !important; }
            }
        }
    }
}

#side-nav {
    position: absolute;
    top: to-rem(50);
    // top: 50%;
    // transform: translateY(-50%);
    left: to-rem(100);
    z-index: 110;
    transition: 200ms opacity ease-out;

    .wordmark {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: top left;
        top: 0;
        left: to-rem(-30);
        width: to-rem(123);
        height: to-rem(41);
        transition: 200ms opacity ease-out;
        cursor: pointer;

        &:hover {
            opacity: 1 !important;
        }
    }

    &:before {
        content: '';
        position: absolute;
        width: to-rem(2);
        height: to-rem(140);
        left: calc(50% - #{to-rem(1)});
        z-index: 110;
        transition: 200ms background-color ease-out 100ms;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: to-rem(140) 0 0;
        padding: 0;
        cursor: pointer;

        li {
            margin-bottom: to-rem(14);
            box-sizing: border-box;
            border-radius: 50%;
            border: to-rem(3) solid $white;
            width: to-rem(14);
            height: to-rem(14);
            background-color: transparent;
            transition:
                200ms border-color ease-out 100ms,
                200ms background-color ease-out 100ms;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

#home {
    padding-top: to-rem(155);

    .title { display: none; }
    .wordmark {
        width: to-rem(490);
    }
    .body {
        width: to-rem(1010);

        p {
            font-weight: 200;
            font-size: to-rem(30);
            line-height: 1.4;
        }
    }
}

#what-we-do {
    padding-top: to-rem(135);

    .body {
        p {
            margin: to-rem(30) 0 to-rem(60) 0;
        }
    }
}

#who-we-are {
    padding-top: to-rem(163);

    .body {
        width: to-rem(600);
    }
}

#opportunities {
    padding-top: to-rem(192);

    .body {
        h3 {
            margin: to-rem(40) 0 0;
        }

        p {
            margin: to-rem(20) 0 0;
        }

        ul {
            margin: to-rem(30) 0 0;

            li {
                // font-weight: 700;
                font-size: to-rem(19);
                text-decoration: none;
                cursor: pointer;

                &:hover { text-decoration: underline; }
            }
        }

        hr {
            margin: to-rem(70) 0;
            border-color: $pink;
        }
    }
}

@media (max-width: 768px) {
    body, html {
        font-size: to-vw(14, 375);
    }

    .panel {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: to-rem(65) auto to-rem(40);
        overflow-y: visible;

        .title {
            font-size: to-rem(33);
        }

        .content {
            width: 100%;
            grid-column: 2;
        }

        .body {
            width: 100%;

            p {
                font-size: to-rem(16);
                line-height: 1.75;
                margin: to-rem(25) 0 0;
            }

            h3 {
                font-size: to-rem(16);
                line-height: 1.1875;
                margin: 0 0 to-rem(8) 0;
            }

            ol {
                padding-left: 0;

                li {
                    margin-bottom: to-rem(80);
                    font-size: to-rem(12);
                    line-height: 1.66;

                    &:before {
                        top: to-rem(-50);
                        left: 0;
                        font-size: to-rem(28);
                    }
                }
            }

            ul {
                li {
                    margin-bottom: to-rem(20);
                }
            }
        }

        &.ani-up-out {
            animation-delay: 125ms;
        }

        &.ani-dn-out {
            animation-delay: 125ms;
        }
    }

    #loading {
        .wordmark {
            width: to-rem(200);
        }
    }

    #top-nav {
        display: none;
    }

    #hamburger-nav {
        position: absolute;
        display: block;
        z-index: 125;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;

        button {
            box-sizing: content-box;
            position: absolute;
            left: to-rem(-70);
            top: to-rem(5);
            width: to-rem(25);
            height: to-rem(19);
            padding: to-rem(20);
            background: transparent;
            outline: none;
            border: none;
            transition:
                200ms height ease-out,
                200ms width ease-out;
            z-index: 126;
            -webkit-tap-highlight-color: transparent;

            .lines {
                background-color: $orange;
                display: block;
                position: relative;

                .line {
                    background-color: inherit;
                    position: absolute;
                    top: 0;
                    width: to-rem(25);
                    height: to-rem(2);
                    transform-origin: center center;
                    transform: scaleX(1);
                    transition:
                        200ms background-color ease-out 100ms,
                        200ms transform ease-out;
                }

                &:before, &:after {
                    content: '';
                    background-color: inherit;
                    position: absolute;
                    width: to-rem(25);
                    height: to-rem(2);
                    left: 0;
                    transform-origin: center right;
                    transition:
                        200ms background-color ease-out,
                        250ms transform ease-out,
                        200ms width ease-out;
                }

                &:before {
                    top: to-rem(-8);
                }

                &:after {
                    top: to-rem(8);
                }
            }
        }

        ul {
            list-style: none;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            transform: translate(0);
            transition: 200ms transform ease-out;
            z-index: 125;

            li {
                &:nth-child(1) { background-color: $purple; }
                &:nth-child(2) { background-color: $orange; }
                &:nth-child(3) { background-color: $pink; }
                &:nth-child(4) { background-color: $purple; }

                .wordmark {
                    width: to-rem(242);
                    height: to-rem(81);
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    font-weight: 500;
                    font-size: to-rem(18);
                    letter-spacing: to-rem(.47);
                    width: 100%;
                    height: 100%;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                }
            }
        }

        &.open {
            button {
                width: to-rem(18);
                height: to-rem(18);

                .lines {
                    .line {
                        transform: scaleX(0);
                    }

                    &:before, &:after {
                        content: '';
                        background-color: $orange !important;
                        position: absolute;
                        width: to-rem(22);
                        height: to-rem(2);
                        left: 0;
                    }

                    &:before {
                        top: to-rem(-8);
                        transform: rotate(-45deg);
                    }

                    &:after {
                        top: to-rem(8);
                        transform: rotate(45deg);
                    }
                }
            }

            ul {
                transform: translate(-100%);
            }
        }
    }

    #side-nav {
        left: to-rem(40);

        .wordmark {
            left: to-rem(-5);
            width: to-rem(63);
            height: to-rem(21);
        }

        &:before {
            width: to-rem(2);
            height: to-rem(87);
        }

        ul {
            margin: to-rem(87) 0 0;

            li {
                margin-bottom: to-rem(8);
                border: to-rem(2) solid $white;
                width: to-rem(10);
                height: to-rem(10);
            }
        }
    }

    #home {
        padding-top: to-rem(65);
        position: relative;

        &:after {
            content: '';
            position: sticky;
            bottom: 0;
            left: 0;
            background: linear-gradient(rgba(red($purple), green($purple), blue($purple), 0), $purple 70%);
            height: to-rem(200);
            width: 100%;
            grid-column: 2;
        }

        .wordmark {
            width: 75%;
        }
        .body {
            width: 100%;

            p {
                font-size: to-rem(24);
                line-height: 1.45;
            }
        }
    }

    #what-we-do {
        padding-top: to-rem(134);

        .body {
            p {
                margin: to-rem(25) 0 to-rem(70) 0;
            }
        }
    }

    #who-we-are {
        padding-top: to-rem(152);
    }

    #opportunities {
        padding-top: to-rem(170);

        .body {
            h3 {
                margin: to-rem(30) 0 0;
            }

            p {
                margin: to-rem(20) 0 0;
            }

            ul {
                margin: to-rem(16) 0 0;

                li {
                    font-size: to-rem(16);
                }
            }

            hr {
                margin: to-rem(40) 0;
            }
        }
    }
};
